<div class="row header justify-content-between">
  <div class="col-auto" style="margin-left: 50px !important;margin-top: 2vh !important;">
    <h6 style="margin: 0em;">MARCELO ANTONIO GIL OCHOA</h6>
    <p style="margin: 0em;">Ing. Informatico</p>
  </div>
  <div class="col-md-auto" style="margin-right: 100px !important;font-family: Montserrat; font-size: 20px;">
    <div class="row  justify-content-between global-margin">
      <div class="col-md-auto link">
        <a href="#quien_soy">QUIEN SOY</a>
      </div>
      <div class="col-md-auto link">
        <a href="#services">SERVICIOS</a>
      </div>
      <div class="col-md-auto link">
        <a href="#contact">CONTACTO</a>
      </div>
      <div class="col-md-auto link">
        <a href="#portafolio">PORTAFOLIO</a>
      </div>
    </div>
  </div>
</div>