<div class="col">
  <div class="row header justify-content-between">
    <div class="col-md-6" style="margin-top: 2vh !important;">
      <h6>MARCELO ANTONIO GIL OCHOA</h6>
      <p>Ing. Informatico</p>
    </div>
    <div class="col-md-6" style="font-family: Montserrat; font-size: 20px;">
      <div class="row  justify-content-between">
        <div class="col-auto link">
          <a href="#quien_soy">QUIEN SOY</a>
        </div>
        <div class="col-auto link">
          <a href="#services">SERVICIOS</a>
        </div>
        <div class="col-auto link">
          <a href="#contact">CONTACTO</a>
        </div>
        <div class="col-auto link">
          <a href="#portafolio">PORTAFOLIO</a>
        </div>
      </div>
    </div>
  </div>
</div>