<div class="row" style="margin-top: 30px !important;">
    <div class="arrow-container">
        <div class="arrow left-arrow" (click)="left()">
            <img src="../../../assets/left-arrow.png" alt="" style="height: 15px;">
        </div>
    </div>
    <div class="col" style="overflow: hidden;padding: 1% !important;">
        <div class="programing-language selected-programing-language"></div>
        <div class="slider_content" #slider_content>
            <div *ngFor="let language of languages" class="item">
                <div class="programing-language">
                    <div class="row">
                        <img [src]="language.icon" class="programing-language-icon" />
                    </div>
                    <div class="row">
                        <h2
                            style="margin-top: 10px;margin-left: 15px;font-family: Montserrat-ExtraBold;font-size: 20px;">
                            {{language.name}}</h2>
                    </div>
                    <div class="row">
                        <h6 style="margin-left: 15px;font-size: 15px;font-family: Myriad-Pro-Regular;">Nivel de
                            Conocimiento.</h6>
                    </div>
                    <app-level-circles [levels]='language.level'></app-level-circles>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-container">
        <div class="arrow right-arrow" (click)="right()">
            <img src="../../../assets/right-arrow.png" alt="" style="height: 15px;">
        </div>
    </div>
</div>