<div class="row justify-content-between" style="height: 300px;background-color: rgb(232, 238, 255);">
    <div class="col-auto global-margin">
        <div class="row">
            <h1 style="font-family: Montserrat-ExtraBold;margin-top: 20px;">Servicios</h1>
        </div>
        <div class="row">
            <div class="col">
                <h4 style="font-family: Montserrat;">
                    Implementación de <span>Plantillas</span>
                    <br>
                    Implementación de Diseño,
                    <br>
                    <span>API REST</span>, Diseño de <span>Base de Datos</span>.
                </h4>
                <h5>
                    <br>
                    Dejalo en la mano de los expertos.
                </h5>
            </div>
        </div>
    </div>
    <div class="col-6 code-img">
        <img style="width: 100%;" src="../../../assets/servicios.jpg" alt="">
    </div>
</div>
<div class="row">
    <a href="#contact">
        <div class="col-auto button global-margin" >
            <h5 style="margin: 0px;">CONTACTO</h5>
        </div>
    </a>
</div>