<div class="col">
  <div class="row">
    <div class="scene size">
  
      <!-- menu -->
      <div class="row show size" style="position: absolute !important;">
        <div class="col">
    
          <div class="row justify-content-end show" style="position: absolute;height: 70px;">
          
            <div class="col-4" style="display: flex;">
              <div class="col link-container">
                <a href="#home">
                  <h3>Home</h3>
                </a>
              </div>
              <div class="col link-container">
                <a href="#services">
                  <h3>Services</h3>
                </a>
              </div>
              <div class="col link-container">
                <a href="#contact">
                  <h3>Contacto</h3>
                </a>
              </div>
              <div class="col link-container">
                <a href="#portafolio">
                  <img src="../../../assets/slider/carrito.svg" style="width: 40px;" alt="">
                </a>
              </div>
            </div>
          </div>
    
          <div style="height: 100%;" class="row">
            <div class="col" style="display: flex;justify-content: center;overflow: hidden;">
              <img src="../../../assets/slider/chica.png" style="height: 503px;align-self: flex-end;" />
    
              <!-- titles -->
              <div class="cube titles size" #titles>
                <div *ngFor="let n of places" class="title-face size" >
                  <h1 class="flotating-title">{{n.text}}</h1>
                </div>
              </div>
    
            </div>
            <!-- <div style="display: flex;">
              <div class="button show" style="margin-right: 25px !important;align-self: center;position: relative;"></div>
            </div> -->
          </div>
        </div>
      </div>
    
      <!-- images -->
      <div class="cube size" #imgs>
    
        <div *ngFor="let n of places" class="cube__face size">
          <div class="img size" [style.backgroundImage]="'url('+n.img+')'">
          </div>
        </div>
    
      </div>
    
    
    </div>
  </div>
</div>
