

<div class="scene size col">

  <!-- menu -->
  <div class="row show size" style="position: absolute !important;">
    <div class="col">

      <div class="row justify-content-end show" style="position: absolute;width: 100%;height: 70px;">
      
        <div class="col-auto" style="display: flex;margin-right: 50px !important;">
          <div class="col link-container">
            <a href="#home">
              <h3>Home</h3>
            </a>
          </div>
          <div class="col link-container">
            <a href="#services">
              <h3>Services</h3>
            </a>
          </div>
          <div class="col link-container">
            <a href="#contact">
              <h3>Contacto</h3>
            </a>
          </div>
          <div class="col link-container">
            <a href="#portafolio">
              <img src="../../../assets/slider/carrito.svg" style="width: 40px;" alt="">
            </a>
          </div>
        </div>
      </div>

      <div style="height: 100%;" class="row">
        <div class="col" style="display: flex;justify-content: center;overflow: hidden;">
          <div style="align-self: flex-end; height: 70%;position: absolute;">
            <img src="../../../assets/slider/chica.png" style="height: 100%;" />
          </div>

          <!-- titles -->
          <div class="titles w-100 h-100" #titles>
            <div *ngFor="let n of places" class="title-face w-100 h-100" >
              <h1 class="flotating-title">{{n.text}}</h1>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- images -->
  <div class="size" style="overflow: hidden;position: absolute;">
    <div class="w-100 h-100"  #imgs>
      <div *ngFor="let n of places" class="w-100 h-100">
        <img class="w-100 h-100" [src]="n.img" alt="">
      </div>
    </div>
  </div>

</div>