<div class="col">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="container">
        <h1 style="font-family: Montserrat-ExtraBold;">Contacto</h1>
        <div class="col">

            <div class="row form-input">
                <label>EMAIL</label>
                <br>
                <input matInput placeholder="example@mail.com" name="to" type="email" ngModel required>
            </div>

            <div class="row form-input">
                <label>ASUNTO</label>
                <br>
                <input matInput placeholder="Contact me" name="subject" ngModel required>
            </div>

            <div class="row form-input">
                <label>MENSAJE</label>
                <br>
                <textarea matInput placeholder="Add here your message..." rows="10" name="text" ngModel required></textarea>
            </div>
            <div class="row form-input center">
                <button class="button" [disabled]="!form.valid">ENVIAR</button>
            </div>
            <div class="row">
                <h4>{{message}}</h4>
            </div>
        </div>
    </form>
</div>