<div class="col">
    <div class="row" style="color:white;background-color: #5227fd;margin-top: 50px !important;">
        <div class="col container" style="margin-top: 20px !important;">
            <h5>
                Creditos:
            </h5>
            <h4>
                Programador: Marcelo Antonio Gil
            </h4>
            <h4>
                Diseñadora: @fernanda_design01
            </h4>
        </div>
        <div class="col">
            <div class="row justify-content-end">
                <app-icon-tooltip title="+584246731180" image="../../../assets/footer/wh-01.png"></app-icon-tooltip>
                <app-icon-tooltip title="majg8a@gmail.com" image="../../../assets/footer/gmail-01.png"></app-icon-tooltip>
                <app-icon-tooltip title="https://www.linkedin.com/in/marcelo-gil-ochoa-7aa612179/"
                    image="../../../assets/footer/linkeding-01.png"></app-icon-tooltip>
            </div>
        </div>
    </div>
</div>