<div class="row" style="color:white;background-color: #5227fd;margin-top: 50px !important;">
    <div class="col global-margin" style="margin-top: 20px !important;">
        <h5>
            Creditos:
        </h5>
        <h4>
            Programador: Marcelo Antonio Gil
        </h4>
        <h4>
            Diseñadora: @fernanda_design01
        </h4>
    </div>
    <div class="col">
        <div class="row justify-content-end">
            <app-icon-tooltip title="+584246731180"></app-icon-tooltip>
            <app-icon-tooltip title="majg8a@gmail.com"></app-icon-tooltip>
            <app-icon-tooltip title="https://www.linkedin.com/in/marcelo-gil-ochoa-7aa612179/"></app-icon-tooltip>
        </div>
    </div>
</div>